<%= 5.times do %>

<h1>Sup</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<!-- <% 5*5 %> -->
<% end %>

<%= link_to "Page1", new_pages_page1_path%>
<%= link_to "page2", new_pages_page2_path%>
<%= link_to "page3", new_pages_page3_path%>
<%= link_to "about", pages_about_path%>
<br>
<%= link_to "home", root_path%>
